{% extends 'layout.twig' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ path }}assets/styles/css/registrar.css">
{% endblock %}

{% block content %}
<div class="row main ">
	<div class="migas-de-pan">
		<ol class="breadcrumb">
			<li><a href="{{ dirpath }}home/">inicio</a></li>
			<li><a href="{{dirpath}}comprarCredito/mostrarFormulario/" >Compra credito</a></li>
			<li>Confirmar Compra</li>
		</ol>
	</div>
	<!-- end breadcrum -->
	<div class="col-md-8">
				<h3 class="h3-formulario">Formulario de compra</h3>
				<hr>
				<form method="POST" action="{{dirpath}}comprarCredito/comprar/">
					<input type="text" name="usuario" value="{{ usuario.email }}" hidden="true">
					<input type="text" name="cantidad" value="{{ precioFinal }}" hidden="true">
					<label class="input-group datos-formulario">{{ validada }}</label>
					<label>EL precio total de su compra es de : ${{ precioFinal }}</label>
					{# <label>Por el total de {{ precio final / 50 }} creditos.</label> #}
				<p class="lead">
					{# <a class="btn btn-primary btn-lg" type=""role="button">Confirmar</a> #}
					<button type="submit" class="btn btn-primary btn-lg">Confirmar</button>
					<a class="btn btn-danger btn-lg" href="{{ dirpath }}home/" role="button">Cancelar</a>
				</p>
				</form>
	</div>
</div>
{% endblock %}