{% extends 'layout.twig' %}


{% block content %}
<div class="row main ">
	<div class="migas-de-pan">
		<ol class="breadcrumb">
			<li><a href="{{ dirpath }}home/">inicio</a></li>
			<li>Favor modificado</li>
		</ol>
	</div>
	<!-- end breadcrum -->
	<div class="col-md-8">
		<p>Favor modificado correctamente</p>
		<a href="{{ dirpath }}favor/verMiFavor/{{favor}}" class="btn btn-info" role="button">Ver el favor</a>
		<a href="{{dirpath}}home/" class="btn btn-info" role="button">Ir a incio</a>
		<a href="{{ dirpath }}favor/verMisGauchadas/" class="btn btn-info" role="button">Ver mis favores</a>
	</div>
</div>
{% endblock %}