
{# {{ dump() }} #}
<nav class="navbar navbar-inverse">
	<div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="thumb pull-left">
				<a href="{{ dirpath }}home/"><img src="{{path}}assets/images/logo.png" class="pull-left" alt="logo"></a>
			</div>
			<a href="{{ dirpath }}home/" class="navbar-brand pull-right titulo ">Una gauchada</a>
	    </div>
	    {# logo end #}
	    <div class="collapse navbar-collapse " id="myNavbar">
	      	<ul class="nav navbar-nav navbar-right dropdown">
	      		{% if usuario['tipo'] == 1 and usuario['login'] == true  %}
				{#  opciones del administrador #}
				<li><button class="btn btn-link bdropdown-toggle btn-header" type="button" id="" data-toggle=""><a href="#">Estadisticas</a></button></li>
				<li><button class="btn btn-link bdropdown-toggle btn-header" type="button" id="" data-toggle=""><a href="#">Another case</a></button></li>
				<li><button class="btn btn-link bdropdown-toggle btn-header" type="button" id="" data-toggle=""><a href="#">Another case2</a></button></li>

	      		{% endif %}
	      		{% if usuario['login'] == true %}
				<li>
					<button class="btn btn-link bdropdown-toggle btn-header" type="button" id="menut" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{ usuario['nombre'] }}<span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="menut">
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Ver perfil</a></li>
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ dirpath }}crearFavor/crear">Crear gauchada</a></li>
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ dirpath }}comprarCredito/mostrarFormulario/">Comprar creditos</a></li>
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Configuracion</a></li>
				      <li role="presentation" class="divider"></li>
				      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sobre nosotros</a></li>
				    </ul>
				</li>
				<li><button class="btn btn-link bdropdown-toggle btn-header" type="button" id="" data-toggle=""><a href="{{ dirpath }}login/logout">Salir</a></button></li>
			</ul>
	    </div>

	  </div>
	</nav>
	
	      		{% else %}
	      		<li><a href="{{ dirpath }}registrar/register/"><span class="glyphicon glyphicon-user"></span> Registrate</a></li>
				<li><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Entrar</a></li>

				{% if info is not null  %}
				<div class="alert alert-success" role="alert">  Sesion cerrada correctametne</div>
				{% endif %}

			</ul>
	    </div>
	  	</div>
	</nav>

{% endif %}