<!DOCTYPE html>
<html lang="es">

<head>

{% include 'head.twig' %}
{% block head %}
{% endblock %}

</head>

<body>
    <header >
        {% include 'loginModal.twig' %}
        {% include 'header.twig' %}
        {% block header %}
        {% endblock %}
    </header>
    <section class="main container">
        {% block content %}

        {% endblock %}
    </section>

    <footer >
    <div class="container-fluid footer-cont">
        <div class="container">
            {% include 'footer.twig' %}
        </div>
    </div>
    </footer>

<!-- jQuery 3.1.1 -->
<script src="{{ path }}assets/theme/plugins/jQuery/jquery-3.1.1.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ pat}}assets/theme/bootstrap/js/bootstrap.min.js"></script>
<!-- Select2 -->
<script src="{{ path }}assets/theme/plugins/select2/select2.full.min.js"></script>
<!-- InputMask -->
<script src="{{ pah }}assets/theme/plugins/input-mask/jquery.inputmask.js"></script>
<script src="{{ pah }}assets/theme/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{{ path }}assets/theme/plugins/iCheck/icheck.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ path }}assets/theme/dist/js/demo.js"></script>


</body>

</html>
