
	<div class="row main">

			<div class="migas-de-pan">
				<ol class="breadcrumb">
					<li>Inicio</li>
				</ol>
			</div>
			<!-- end breadcrum -->
			<!--  aside de busqueda -->
			<div class="busqueda col-md-3">
				<div class="display">
					<h2>Busqueda</h2>
			    <form class="navbar-form navbar-left" role="search">
			  		<div class="form-group">
			    		<input type="text" class="form-control" placeholder="Search">
			  		</div>
			  		<button type="submit" class="btn btn-default">Submit</button>
				</form>

				<h2>Filtrado por</h2>
				<div class="list-group">
					<a href="#" class="list-group-item ">
					<h4 class="list-group-item-heading">Categoria</h4>
    				<select class="form-control"  id="Categoria">
        			{% for categoria in categorias %}
        			<option>{{categoria['nombre']}}</option>
  					{% endfor %}
  					</select>
					</a>
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Tiempo</h4>
						<a href="#"><p class="list-group-item-text">largo</p></a>
						<a href="#"><p class="list-group-item-text">medio</p></a>
						<a href="#"><p class="list-group-item-text">corto</p></a>
					</a>
					<a href="#" class="list-group-item">
						<h4 class="list-group-item-heading">Ubicacion</h4>
						<a href="#"><p class="list-group-item-text">la plata</p></a>
						<a href="#"><p class="list-group-item-text">Villa elisa</p></a>
					</a>
				</div>
				</div>
			</div>
			<!-- begin post -->
			<section class="posts col-md-9">
			{% for favor in favores %}
				<article class="post clearfix">
	             	<a href="#" class="thumb pull-left"><img class="img-thumbnail" src="{{ path }}assets/images/logo.png" alt="favor"></a>
	             	<h2 class="post-title"><a href="#">{{favor['titulo']}}</a></h2>
	             	<p>Fecha limite: <span class="post-fecha">{{favor['fec_lim']}}</span>
	             	Publicado por: <span  class="post-autor"><a href="#">{{ usuarios[favor['id_usuario']]['nombre'] }}</a></span></p>
	             	<p class="post-contenido text-justify">
	                          {{favor['descripcion']}}
	             	</p>
	             	<div class="contenedor-botones">
	             		<a href="#" class="btn btn-primary ">Leer mas </a>
	             		<a href="#" class="btn btn-success">comentarios <span class="badge">20</span></a>
	             	</div>
	            </article>
	        {% endfor %}
	        </section>
	</div>