<div class="row main">
  <div class="migas-de-pan">
    <ol class="breadcrumb">
      <li><a href="{{ dirpath }}home/">Inicio</a></li>
      <li>Crear Gauchada</li>
    </ol>
  </div>
  <!-- end breadcrum -->
  {% if  errores2  is defined %}
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Error en la publicacion del favor</h3>
      </div>
      <div class="panel-body">
        <p>{{errores2}} para poder publicar una Gauchada.</p>
        {# <br/> #}
        {# <br/> #}
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="{{dirpath}}comprarCredito/mostrarFormulario/" role="button">Comprar creditos</a>
          <a class="btn btn-danger btn-lg" href="{{ dirpath }}home/" role="button">Ver Inicio</a>
        </p>
      </div>
    </div>
  {% endif %}


  <div class="col-md-4"></div>
  <div class="col-md-8">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">

      <form data-toggle="validator" action="{{ dirpath }}favor/agregar/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          {% if  errores  is defined %}
          <p class="text-danger">{{errores['titulo']}}</p>
          {% endif %}
          <label for="inputTitulo" class="col-2 col-form-label">Titulo</label>
          <div class="col-10 ">
            <input class="form-control" pattern="[a-zA-Z0-9 ]{1,50}$" data-error="El título debe contener entre 1 y 50 caracteres." type="text"  value="{{errores['titulo2']}}" id="inputTitulo" name="titulo" required>
            <div class="help-block with-errors "></div>
          </div>
        </div>
        <div class="form-group">
          {% if  errores  is defined %}
          <p class="text-danger">{{errores['ciudad']}}</p>
          {% endif %}
          <label for="inputCiudad" class="col-2 col-form-label">Ciudad</label>
          <div class="col-10">
            <input class="form-control" pattern="[a-zA-Z0-9 ]{1,30}$" data-error="La ciudad debe contener entre 1 y 30 caracteres." type="text" value="{{errores['ciudad2']}}" id="inputCiudad" name="ciudad" required>
            <div class="help-block with-errors "></div>
          </div>
        </div>
        <div class="form-group">
          {% if  errores  is defined %}
          <p class="text-danger">{{errores['provincia']}}</p>
          {% endif %}
          <label for="inputProv" class="col-2 col-form-label">Provincia</label>
          <div class="col-10">
            <input class="form-control"  pattern="[a-zA-Z0-9 ]{1,30}$" data-error="La provincia debe contener entre 1 y 30 caracteres."type="text" value="{{errores['provincia2']}}"id="inputProv"  name="provincia" required>
            <div class="help-block with-errors "></div>
          </div>
        </div>
        <div class="form-group">
          <label for="inputDesc">Descripcion</label>
          {% if  errores  is defined %}
          <p class="text-danger">{{errores['descripcion']}}</p>
          {% endif %}
          <textarea class="form-control" id="inputDesc" pattern="[a-zA-Z0-9]{1,30}$" data-error="La descripción maximo 400 caracteres" rows="10" name="descripcion" required>{{errores['descripcion2']}}</textarea>
            <div class="help-block with-errors "></div>
        </div>
        <div class="form-group">
          <label for="inputFecha" class="col-2 col-form-label">Fecha limite</label>
          {% if  errores  is defined %}
          <p class="text-danger">{{errores['fecha']}}</p>
          {% endif %}
          <div class="col-10">
            <input class="form-control" pattern="[0-9]" data-error="Ingresar una fecha de límite válida." type="date" id="inputFecha" name="fecha" required>
            <div class="help-block with-errors "></div>
          </div>
        </div>

        <div class="form-group">
          <label>Categoria</label>
          {% if  errores  is defined %}
           <p class="text-danger"> {{errores['categorias']}} </p>
          {% endif %}
          <select class="form-control select2" multiple="multiple" name="categorias[]" data-placeholder="selecciona una categoria" >
            {% for categoria in categorias %}
              <option value="{{categoria.id_categoria }}">{{categoria.nombre}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          Select image to upload:
          <input type="file" name="fileToUpload" id="fileToUpload">
          {# <input type="submit" value="Upload Image" name="submit"> #}
        </div>
        <input type="hidden" name="email" value="{{usuario['email']}}">
        <!--  no se bien como hacer lo de la sesion asique mando el email y lo busco desde ahi -->
        <p class="lead">
         <input type="submit" class="btn btn-primary btn-lg"  value="Agregar">
         <a class="btn btn-danger btn-lg" href="{{ dirpath }}home/" role="button">Cancelar</a>
       </p>
     </form>
   </div>

 </div>
</div>