
	<div class="row main">
			{% if succes is defined %}
				<div class="alert alert-success alert-dismissible">
                	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                	<h4><i class="icon fa fa-check"></i> {{ succes }}!</h4>
            		Gracias por confiar en nosotros.
              	</div>
			{% endif %}
			{% if creditoInsuficiente is defined %}
				<div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> {{ creditoInsuficiente }}!</h4>
                <p class="lead">
		          <a class="btn btn-primary btn-lg" href="{{dirpath}}comprarCredito/mostrarFormulario/" role="button">Comprar creditos</a>
		          <a class="btn btn-danger btn-lg" href="{{ dirpath }}home/" role="button">Ver Inicio</a>
		        </p>
		        <br>
            		Gracias por confiar en nosotros.
              	</div>
			{% endif %}

			<div class="migas-de-pan">
				<ol class="breadcrumb">
					<li>Inicio</li>
				</ol>
			</div>
			<!-- end breadcrum -->
			<!--  aside de busqueda -->
			<div class=" col-md-4">
				<div class="aside">
					<h2>Busqueda</h2>
				    <form class=" navbar-left" name="buscador" method="POST" action="{{ dirpath }}buscador/busqueda/" >
				  		<div class="form-group">
				  			<h4 class="">Titulo</h4>
				    		<input type="text" class="form-control" name="busqueda" placeholder="Buscar" >
				  		</div>
				  		{% if buscador is defined %}
							{% if buscador == false  %}
							<p class="text-danger"> Por favor seleccione un metodo de busqueda.</p>
				  			{% endif %}
				  		{% endif %}

						{# <h2>Filtrado por</h2> #}
						<div class="form-group">
							<h4 class="">Categoria</h4>
		    				<select class="form-control"  name="categoria" id="Categoria">
		        			<option>Selecciona</option>
		        			{% for categoria in categorias %}
		        			<option>{{categoria.nombre}}</option>
		  					{% endfor %}
		  					</select>
		  				</div> <br>
						<div class="form-group">
							<h4 class="">Ciudad</h4>
		    				<select class="form-control select2" name="ciudad" id="Ciudad">
		    				<option>Selecciona</option>
		        			{% for ciudad in ciudades %}
		        			<option>{{ciudad.localidad}}</option>
		  					{% endfor %}
		  					</select>
				  		<button type="submit" class="btn btn-default">Buscar</button>
		  				</div>
		  				{# <input type="submit" class="btn btn-primary btn-lg"  value="Buscar"> #}
		  					{# <button type="submit" class="btn btn-default">Buscar</button> #}
					</form>
				</div>
			</div>
			<!-- begin post -->
			<section class="posts col-md-8">
				{% if favores == false %}
					<article class="post clearfix">
		             	<div class="box">
		             		<h2 class="post-title">No hay posts </h2>
		             	</div>

	            	</article>
				{% endif %}
			{% for favor in favores %}
				{% if  favor.email != usuario.email %}
				        	    <p hidden>{{favor.postulantes}}</p>
				                	<article class="post clearfix">
					             	<div class="box">
					             		<a href="{{ dirpath }}favor/ver/{{favor.id_favor}}" class="thumb pull-left"><img class="img-thumbnail" src = '{{pathimg}}{{ imagenes[favor.id_favor][0].img }}'  /></a>
						             	<h2 class="post-title">{{favor.titulo}}</h2>
						             	<p>Fecha limite: <span class="post-fecha">{{favor.fecha_limite}}</span>
						             	Publicado por: <span  class="post-autor"><a href="{{ dirpath }}perfil/verPerfilAjeno/{{favor.id_usuario}}">{{favor.nombre}}</a></span></p>
						             	<p class="post-contenido text-justify">
						                          {{favor.descripcion}}
						             	</p>
					             	</div>
					             	<div class="contenedor-botones">
					             		<a href="{{ dirpath }}favor/ver/{{favor.id_favor}}" class="btn btn-primary ">Leer mas </a>
					             	</div>
					            	</article>

				    {% endif %}
	        {% endfor %}

	    	</section>
	</div>