{% extends 'layout.twig' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ path }}assets/styles/css/verFavor.css">
{% endblock %}

{% block content %}
{{ dump() }}
	<div class="row main">
		<div class="col-md-4">
		</div>
		<div class="col-md-8 borde-favor">
			<article class=" clearfix">
			<div class="favor">
				<div>
					<img src = '{{pathimg}}{{ favor[0].img }}' class="foto-favor"  />
					{# Despues hay que relacionar el link de la imagen con la base de datos #}
				</div>
				<p class="idFavor">{{favor[0].id}}</p>
				<p class="tituloFavor">{{favor[0].titulo }}</p>
				<br><br>

				<br><br>
				<p class="ubicacionFavor">Ubicación: {{favor[0].ciudad}}, {{favor[0].provincia}}</p>
				<p class="fec_limFavor">Fecha límite: {{favor[0].fec_lim}}</p>
				<p class="descripcionFavor">Descripción: {{favor[0].descripcion}}</p>
				<p class="id_usuarioFavor">ID usuario: {{favor[0].nombre}}</p>
			</div>
	        </article>



				<div class="coment">
					<form method="POST" action="{{dirpath}}favor/comentar/">
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Deja un comentario</h3>
						  </div>
						  <div class="panel-body">
						  	<input type="text" hidden="true" name="usuario" value="{{usuario.email}}">
						  	<input type="text" hidden="true" name="favor_id" value="{{favor[0].id}}">
						    <textarea class="form-control" name="comentario" rows="3"></textarea>
						  </div>
						<p class="lead">
							<button type="submit" class="btn btn-lg">Enviar comentario</button>
						</p>
						</div>
					</form>
				</div>
					{% for comentario in comentarios %}
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">comentario de {{comentario.nombre}}</h3>
						  </div>
						  <div class="panel-body">
						    {{ comentario.descripcion}}
						  </div>
						  	{# {% if favor[0].nombre == usuario.nombre %} #}
								{% if comentario.id_respuesta is not empty %}
										{% for respuesta in respuestas %}

											{% if respuesta.id_comentario == comentario.id_comentario %}
											<div class="panel panel-default">
											  <div class="panel-heading">
											    <h3 class="panel-title">Respuesta</h3>
											  </div>
											  <div class="panel-body">
											    {{ respuesta.respuesta}}
											  </div>
											</div>
											{% endif %}
										{% endfor %}
								{% else %}
									{% if favor[0].nombre == usuario.nombre %}
											<div class="coment">
												<form method="POST" action="{{dirpath}}favor/responder/">
													<div class="panel panel-default">
													  <div class="panel-heading">
													    <h3 class="panel-title">Responder Pregunta</h3>
													  </div>
													  <div class="panel-body">
													  	<input type="text" hidden="true" name="usuario" value="{{usuario.email}}">
													  	<input type="text" hidden="true" name="comentario_id" value="{{comentario.id_comentario}}">
													    <textarea class="form-control" name="respuesta" rows="3"></textarea>
													  </div>
													<p class="lead">
														<button type="submit" class="btn btn-lg">Responder</button>
													</p>
													</div>
												</form>
											</div>
											{% endif %}
								{% endif %}
							{# {% else %} #}
							{# {% endif %} #}

						</div>
					{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}