{% extends 'layout.twig' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ path }}assets/styles/css/verFavor.css">
{% endblock %}

{% block content %}
{# {{ dump() }} #}
	<div class="row main">
		<div class="col-md-4">
		</div>
		<div class="col-md-8 borde-favor">
			<div class="favor">
				<div>
					<img src='{{pathimg}}{{ favor[0].img }}' class="foto-favor" />
					{# Despues hay que relacionar el link de la imagen con la base de datos #}
				</div><!-- 
				<p class="idFavor">{{favor[0].id}}</p> -->
				<p class="tituloFavor">{{favor[0].titulo }}</p>
				<br><br>

				<br><br>
				<p class="ubicacionFavor">Ubicación: {{favor[0].ciudad}}, {{favor[0].provincia}}</p>
				<p class="fec_limFavor">Fecha límite: {{favor[0].fec_lim}}</p>
				<p class="descripcionFavor">Descripción: {{favor[0].descripcion}}</p>
				<p class="id_usuarioFavor">ID usuario: {{favor[0].id_usuario}}</p>


				<div class="coment">
					<form>
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Panel title</h3>
						  </div>
						  <div class="panel-body">
						    <textarea class="form-control" rows="3"></textarea>
						  </div>
						</div>
					</form>
				</div>
					{% for f in comentarios %}
						<div class="panel panel-default">
						  <div class="panel-heading">
						    <h3 class="panel-title">Panel title</h3>
						  </div>
						  <div class="panel-body">
						    {{ f.descripcion}}
						  </div>
						</div>
					{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}