{% extends 'layout.twig' %}

{% block content %}
 {# {{dump()}} #}
 <div class="row main">
	 <div class="migas-de-pan">
		<ol class="breadcrumb">
			<li><a href="{{dirpath}}home/">Inicio</a></li>
			<li>Mis Gauchadas</li>
		</ol>
	</div>


	<div class="col-md-3">
		{# futuro aside #}
	</div>
	<div class="">
		<section class="posts col-md-9">

 		{% for favores in favores %}
 			{% for favor in favores %}

 				<article class="post clearfix">
 					<a href="{{ dirpath }}favor/ver/{{favor.id}}" class="thumb pull-left">

 						<img class="img-thumbnail" src = '{{pathimg}}{{ favor.img }}'  />

 					</a>
 					<h2 class="post-title">{{favor.titulo}}</h2>
 					<p>Fecha limite: <span class="post-fecha">{{favor.fec_lim}}</span>
 						<p class="post-contenido text-justify">
 							{{favor.descripcion}}
 						</p>
 						<div class="contenedor-botones">
 							<a href="{{ dirpath }}favor/ver/{{favor.id}}" class="btn btn-primary ">Leer mas </a>
 						</div>
 				</article>
 			{% endfor %}
 		{% endfor %}
 		</section>
	</div>

</div>
{% endblock %}