{% extends 'layout.twig' %}

{% block content %}
	
 <div class="row main">
	 <div class="migas-de-pan">
		<ol class="breadcrumb">
			<li><a href="{{dirpath}}home/">Inicio</a></li>
			<li>Mis Gauchadas</li>
		</ol>
	</div>
	<div class="col-md-3">
		{# {% if reputacion < 0 %}
			Irresponsable
		{% elseif reputacion > 50 %} 
			Dios
		{% elseif reputacion > 20 %}
			Nobleza Gaucha
		{% elseif reputacion > 10 %}
			Heroe
		{% elseif reputacion > 5 %} 
			Tipazo
		{% elseif reputacion > 1 %} 
			Gran tipo
		{% elseif reputacion == 1 %}
		 Buen tipo
		{% elseif reputacion == 0 %} 
			Observador
		{% endif %} #}
	</div>
	<div class="">
		<section class="posts col-md-9">
			{% if favores == false %}
					<article class="post clearfix">
		             	<div class="box">
		             		<h2 class="post-title">No tienes gauchadas </h2>
		             		<h3>Crea una gauchada desde este <a role="menuitem" tabindex="-1" href="{{ dirpath }}favor/crear">link</a></h3>
		             	</div>

	            	</article>
				{% endif %}
 			{% for favor in favores %}

 				<article class="post clearfix">
 					<a href="{{ dirpath }}favor/ver/{{favor.id_favor}}" class="thumb pull-left">

 						<img class="img-thumbnail" src = '{{pathimg}}{{ imagenes[favor.id_favor][0].img }}'  />

 					</a>
 					<h2 class="post-title">{{favor.titulo}}</h2>
 					<p>Fecha limite: <span class="post-fecha">{{favor.fecha_limite}}</span>
 						<p class="post-contenido text-justify">
 							{{favor.descripcion}}
 						</p>
 						<div class="contenedor-botones">
 							<a href="{{ dirpath }}favor/verMiFavor/{{favor.id_favor}}" class="btn btn-primary ">Leer mas </a>
					<a href="{{ dirpath }}favor/modificarFavor/{{favor.id_favor}}" class="btn btn-success">Modificar favor</a> 
					<a href="{{ dirpath }}favor/eliminarFavor/{{favor.id_favor}}" class="btn btn-danger">Eliminar</a>

 						</div>
 				</article>
 			{% endfor %}
 		</section>
	</div>

</div>
{% endblock %}