{% extends 'layout.twig' %}

{% block content %}
<!-- {{dump()}} -->
<div class="row main">
<section class="posts col-md-9">

			{% for favores in favores %}
			{% for favor in favores %}
			
				<article class="post clearfix">
	             	<a href="{{ dirpath }}favor/ver/{{favor.id}}" class="thumb pull-left">
	             	{% if favor.img != "uploads/imgFavores/" %}
	             	<img class="img-thumbnail" src = '{{pathimg}}{{ favor.img }}'  />
					{% else %}
					<img src = '{{path}}assets/images/logo.png' style="width:128px;height:128px" />
					{% endif %}
	             	</a>
	             	<h2 class="post-title"><a href="#">{{favor.titulo}}</a></h2>
	             	<p>Fecha limite: <span class="post-fecha">{{favor.fec_lim}}</span>
	             	Publicado por: <span  class="post-autor"><a href="#">{{ favor.favores.nombre}}</a></span></p>
	             	<p class="post-contenido text-justify">
	                          {{favor.descripcion}}
	             	</p>
	             	<div class="contenedor-botones">
	             		<a href="{{ dirpath }}favor/ver/{{favor.id}}" class="btn btn-primary ">Leer mas </a>
	             		{# <a href="#" class="btn btn-success">Comentarios <span class="badge">20</span></a> #}
	             	</div>
	            </article>
	        {% endfor %}
	        {% endfor %}
	        </section>
	        	</div>
{% endblock %}