{% extends 'layout.twig' %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ path }}assets/styles/css/verPerfil.css">
{% endblock %}

{% block content %}
	<div class="row main">
		<div class="migas-de-pan">
			<ol class="breadcrumb">
				<li><a href="{{ dirpath }}home/">inicio</a></li>
				<li>Ver perfil</li>
			</ol>
		</div>
		<div class="col-md-2"></div>
		<div class="col-md-8 breadcrumb borde-perfil">
			<div class="perfil">
				<div>
					<div class="col-md-12">
			          <!-- Widget: user widget style 1 -->
			          <div class="box box-widget widget-user-2">
			            <!-- Add the bg color to the header using any of the bg-* classes -->
			            <div class="widget-user-header bg-yellow">
			              <div class="widget-user-image">
			                <img class="img-circle" src="{{pathimg}}/uploads/imgFavores/logo.png" alt="User Avatar">
			              </div>
			              <!-- /.widget-user-image -->
			              <h3 class="widget-user-username">{{usuarioPerfil[0].nombre}} {{usuarioPerfil[0].apellido}} </h3>
			               <h5 class="widget-user-desc">Email: {{usuarioPerfil[0].email}}</h5>
			               <h5 class="widget-user-desc">Fecha de nacimiento: {{usuarioPerfil[0].fecha_nacimiento}}</h5>
			               <h5 class="widget-user-desc">Teléfono: {{usuarioPerfil[0].telefono}}</h5>
			              <h5 class="widget-user-desc">
										    {% if usuarioPerfil[0].reputacion < 0 %}
												Reputación:<p class="reputacion-perfil">Irresponsable</p>
											{% elseif usuarioPerfil[0].reputacion > 50 %}
												Reputación:<p class="reputacion-perfil">Dios</p>
											{% elseif usuarioPerfil[0].reputacion > 20 %}
												Reputación:<p class="reputacion-perfil">Nobleza Gaucha</p>
											{% elseif usuarioPerfil[0].reputacion > 10 %}
												Reputación:<p class="reputacion-perfil">Héroe</p>
											{% elseif usuarioPerfil[0].reputacion > 5 %} 
												Reputación:<p class="reputacion-perfil">Tipazo</p>
											{% elseif usuarioPerfil[0].reputacion > 1 %} 
												Reputación:<p class="reputacion-perfil">Gran tipo</p>
											{% elseif usuarioPerfil[0].reputacion == 1 %}
											 	Reputación:<p class="reputacion-perfil">Buen tipo</p>
											{% elseif usuarioPerfil[0].reputacion == 0 %} 
												Reputación:<p class="reputacion-perfil">Observador</p></span>
											{% endif %}</h5>
			              <h5 class="widget-user-desc">Créditos: <p class="reputacion-perfil" >{{usuarioPerfil[0].credito}}</p></h5>
			              <a href="{{ dirpath }}perfil/mostrarFormulario/{{usuarios.id_usuario}}" class="btn btn-app ">
				                	<i class="fa fa-edit"></i> Modificar </a>
			            </div>
			            <div class="box-footer no-padding">
			              <ul class="nav nav-stacked">
			                <li><a href="{{ dirpath }}favor/verMisGauchadas/">Ver mis gauchadas </a></li>
			                <li><a href="#">Ver mis comentarios de gauchadas pedidas </a></li>
			                <li><a href="#">Ver comentarios que hice sobre gauchadas realizadas</a></li>
			                <li><a href="{{ dirpath }}postular/verPostulaciones/">Ver estado de mis postulaciones como candidato </a></li>
			                {% if  usuarioPerfil[0].tipo == 1  %}
          				
			                <li><a href="{{ dirpath }}administrador/ir/">Crear Categoria</a></li>
			                <li><a href="{{ dirpath }}administrador/verCategorias/">Ver Categorias</a></li>
			                {% endif %}
			              </ul>
			            </div>
			          </div>
			          <!-- /.widget-user -->

			        </div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}